*,*::before,*::after {
    box-sizing: border-box;
    font-weight: normal;
    font-family: 'Montserrat', sans-serif;
}

body{
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, #2ecc71, #8e44ad);
}

.calculator-grid{
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    grid-template-columns: repeat(4, 100px); 
    grid-template-rows: minmax(120px, auto) repeat(5, 100px);  
}

.calculator-grid > button {
    cursor: pointer;
    font-size: 2rem;
    border: 1px solid white;
    outline: none;
    background-color: rgba(255, 255, 255, .75);
}

.calculator-grid > button:hover {
    background-color: rgba(255, 255, 255, .9);
}

.span-two {
    grid-column: span 2;
}

.output{
    grid-column: 1 / -1;
    background-color: rgba(0, 0, 0, .75);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
    padding: 10px;
    word-wrap: break-word;
    word-break: break-all;
}

.output .previous-operand {
    color: rgba(255, 255, 255, .75);
    font-size: 1.5rem;
}

.output .current-operand {
    color: rgba(255, 255, 255);
    font-size: 2.5rem;
}